

@media only screen and (max-width: 576px) {
  .main-container,
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-container {
  width: 100%;
}

body {
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-image {
  width: 100%;
}

.form-design {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button-design {
  align-self: flex-end;
}